<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>board | showAll</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>게시일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b : ${boardDTO}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.title}"></td>
        <td th:text="${b.content}"></td>
        <td th:text="${#dates.format(b.entryDate, 'yy년MM월ss일 HH시mm분ss초')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>